<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.example" versionCode="10" version="1.0.0">

    <name>Todo</name>

    <description>
        save tasks to do..
    </description>

    <icon src="logo.png" platform="android" qualifier="ldpi" />
    <icon src="logo.png" platform="android" qualifier="mdpi" />
    <icon src="logo.png" platform="android" qualifier="hdpi" />
    <icon src="logo.png" platform="android" qualifier="xhdpi" />
    <icon src="logo.png" platform="android" qualifier="xxhdpi" />
    <icon src="logo.png" platform="android" qualifier="xxxhdpi" />
    <icon src="logo.png" platform="android" qualifier="fr-xxhdpi" />

</widget>
